@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    background-image: linear-gradient(to right ,rgb(131, 0, 0) , #000 60%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo , .name {
    font-family: "Poppins", sans-serif;
}

.container{
    background-image: 
    linear-gradient(to right ,rgba(131, 0, 0, 0.5) , #00000086 50%) ,
    url(img/img.jfif)
    ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 90%;
    width: 90%;   
    border-radius: 20px; 
}

.container:hover {
    background-image: 
    linear-gradient(to right ,rgba(131, 0, 0, 0.5) , #0000003f 50%) ,
    url(img/img.jfif)
    ;
    background-repeat: no-repeat;
    background-size:cover;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

ul{
    list-style: none;
    display: flex;
}

li{
    padding: 0px 15px;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 1.4em;
    text-transform: capitalize;
    transition: 0.3s;
}

ul a:hover{
    text-decoration:underline;
    color: #616161;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70vh;
}

.name{
    font-size: 3em;
    font-weight: 500;
    text-transform: capitalize;
}

.adj{
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    margin: 40px;
}

.button{
    display: inline-block;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.3em;
    font-weight: 500;
}
.button:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
   a , .adj{
    font-size: 1em;
   }
   .name{
    font-size: 2em;
   }
}

@media (max-width: 425px) {
    a , .adj{
     font-size: 0.8em;
    }
    li{
        padding: 10px;
    }
    .adj{
        margin: 20px;
    }
    header{
        padding: 20px ;
    }
    .description{
        width: 100%;
    } 
    .name{
     font-size: 1.5em;
    }
 }