@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*main*/
*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #D8EFD3;
    display: flex;
}
ul{
    list-style: none;
    position: relative;
    height: 99%;
}
a{
    text-decoration: none;
}
/*main*/
/*menu*/
.img-box{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    border: solid #F1F8E8 3px;
    flex-shrink: 0;
}
.img-box img{
    width: 100%;
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}
.profile h2{
    color: #F1F8E8;
    text-transform: capitalize;
    font-size: 20px;
}
.menu{
    background-color: #55AD9B;
    position: fixed;
    width: 86.4px;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    flex-shrink: 0;
    text-transform: capitalize;
    transition: 0.3s ease;    
}
.menu:hover , .space{
    width: 260px;
}
.space{
    width: 86.4px;
    height: 100vh;
    flex-shrink: 0;
}
ul li a{
    display: block;
    color: #F1F8E8;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    transition: 0.2s ease;
}
ul li a:hover , .active{
    background-color: #fffff534;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a{
    background-color: #973131;
}
.log-out a:hover{
    background-color: #970101;
}
ul li a i{
    font-size: 25px;
}
/*menu*/
.content{
    width: 100%;
}
.title-info{
    display: flex;
    background-color: #95D2B3;
    color: #F1F8E8;
    margin: 10px;
    padding: 10px 15px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    text-transform: capitalize;
}

/*data*/
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 12px;
    flex-wrap: wrap;
    gap: 10px;
}
.data-info .box{
    background-color: #F1F8E8;
    color: #55AD9B;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    transition: 0.3s ease;
}
.data-info .box:hover , td:hover{
    background-color: #55AD9B;
    color: #F1F8E8;
}
.data-info .box i{
    font-size: 40px;
}
.data-info .box .data{
    text-align: center;
}
.data-info .box .data span{
    font-size: 30px;
}
/*data*/
/*product*/
table{
    width: 100%;
    text-align: center;
    border-spacing: 5px;
}
td , th{
    background-color: #F1F8E8;
    color: #55AD9B;
    height: 40px;
    border-radius: 8px;
    transition: 0.2s ease;
    text-transform: uppercase;
}
th{
    background-color: #95D2B3;
    color: #F1F8E8;
}
.price{
    background-color: #508D4E;
    color: #F1F8E8;
}
.caunt{
    background-color: #E0A75E;
    color: #F1F8E8;
}
/*product*/
/*responsivity*/
@media (max-width: 375px) {
    .menu{
        height: 105vh;
    }
}
@media (max-width: 350px) {
    .menu{
        height: 111vh;
    }
}
@media (max-width: 320px) {
    .menu{
        height: 122vh;
    }
}
/*responsivity*/