@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    color: #EBD3F8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#070F2B , #850F8D);
    height: 100vh;
}

section{
    background: url(imgs/stars1.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin: 14px 0;
    text-align: center; 
    text-transform: capitalize;
}

ul:hover li a{
    opacity: 0;
}

ul li::after{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    font-size: 10em;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    letter-spacing: 50px;
    text-align: center;
}

ul li a{
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    background-color: #433D8B;
    border-radius: 20px;
    padding: 6px 15px;
    letter-spacing: 4px;
    width: 200px;
    position: relative;
    z-index: 10;
    transition: 0.5s;
}

ul li a:hover{
    transform: scale(1.5);
    background: #874CCC;
    opacity: 1;
}

ul li:hover:after{
    opacity: 0.5;
    letter-spacing: 5px;
}

ul li:hover:before{
    opacity: 0.9;
    width: 90px;
}

ul li::before{
    content: '';
    background-color: #EBD3F8;
    border-radius: 50%;
    width: 180px;
    height: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,100%);    
    position: absolute;
    box-shadow: 0 0 80px #FB773C;
    opacity: 0;
    transition: 0.5s;
}

@media (max-width: 768px) {
    ul li::after{
        font-size: 5em;
    }
}